@model TdCDA.Models.Flight

@{
    ViewData["Title"] = "Delete";
}

<h1>SUPPRIMER</h1>

<h3>Êtes vous sûr de vouloir supprimer ce vol ?</h3>
<div>
    <h4>Vol</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Identifiant du vol
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdFlight)
        </dd>
        <dt class = "col-sm-2">
            Référence
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reference)
        </dd>
        <dt class = "col-sm-2">
            Date et heure de départ
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartureDate)
        </dd>
        <dt class = "col-sm-2">
            Date et heure d'arrivée
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArrivalDate)
        </dd>
        <dt class = "col-sm-2">
            Ville de départ
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdDepartureCity)
        </dd>
        <dt class = "col-sm-2">
            Ville d'arrivée'
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdArrivalCity)
        </dd>
        <form asp-action="Delete">
            <input type="submit" value="Supprimer" class="btn btn-danger" /> |
            <a asp-action="Index">Retour à la liste</a>
        </form>
    </dl>
    
    
</div>
