@model TdCDA.Models.Flight

@{
    ViewData["Title"] = "Details";
}

<h1>INFORMATIONS</h1>

<div>
    <h4>Vol</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Identifiant du vol
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdFlight)
        </dd>
        <dt class = "col-sm-2">
            Référence
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reference)
        </dd>
        <dt class = "col-sm-2">
            Date et heure de départ
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartureDate)
        </dd>
        <dt class = "col-sm-2">
            Date et heure de d'arrivée
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArrivalDate)
        </dd>
        <dt class = "col-sm-2">
            Ville de départ
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdDepartureCity)
        </dd>
        <dt class = "col-sm-2">
            Ville d'arrivée
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdArrivalCity)
        </dd>
        <div>
            @Html.ActionLink("Modifier", "Edit", new { id = Model.IdFlight }) |
            <a asp-action="Index">Retour à la liste</a>
        </div>
    </dl>
</div>

