@model IEnumerable<TdCDA.Models.Flight>

@{
    ViewData["Title"] = "Index";
}

<h1>LISTE DES VOLS</h1>

<p>
    <button class="btn btn btn-primary"><a asp-action="Create" class="newButton">Ajouter un vol</a></button>
</p>
<table class="table">
    <thead>
        <tr>
            @* <th>
                @Html.DisplayNameFor(model => model.IdFlight)
            </th> *@
            <th>
                Référence
            </th>
            <th>
               Date et heure de départ
            </th>
            <th>
                Date et heure d'arrivée
            </th>
            <th>
                Ville de départ
            </th>
            <th>
                Ville d'arrivée
            </th>
            <th>
                Actions
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @* <td>
                @Html.DisplayFor(modelItem => item.IdFlight)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.Reference)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArrivalDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdDepartureCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdArrivalCity)
            </td>
            <td>
                @Html.ActionLink("Modifier", "Edit", new { id=item.IdFlight }) |
                @Html.ActionLink("Afficher", "Details", new { id=item.IdFlight }) |
                @Html.ActionLink("Supprimer", "Delete", new { id = item.IdFlight })
            </td>
        </tr>
}
    </tbody>
</table>
